{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Usuarios {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-12">
            <div class="card">

              {% if action == 'detail' %}
                <form method="POST" id="modalForm" action="{% url 'users:updateUser' object.id%}">
              {% elif action == 'create' %}
                <form method="POST" id="modalForm" action="{% url 'users:createUsers'%}">
              {% endif %}  
              
                <div class="card-header">
                  {% if action == 'detail' %}
                    <h5 class="modal-title text-secondary h4" id="titleProductModal">Detalle: {{object.description}}</h5>
                  {% elif action == 'create' %}
                    <h5 class="modal-title text-secondary h4" id="titleProductModal">Crear Usuario</h5>
                  {% endif %}
                </div>
                <div class="card-body">

                  {% csrf_token %} 
                  {{form|crispy}}

                </div>
                <div class="card-footer">
                  {% if action == 'detail' %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmUser">Eliminar</button>
                    <a class="btn btn-secondary" href="{% url 'users:listUsers' %}">Atras</a>
                    <button type="submit" class="btn btn-primary" id='modalUpdatebtn'>Actualizar</button>
                  {% elif action == 'create' %}
                    <button type="submit" class="btn btn-success">Crear</button>
                    <a class="btn btn-secondary" href="{% url 'users:listUsers' %}">Atras</a>
                  {% endif %}
                  
                </div>
              </form>
            </div>
          </div>
      </div>


{% endblock content %}

{% block modals %}
  <div class="modal fade" id="confirmUser"  tabindex="-1" role="dialog" aria-labelledby="UserTitle" aria-hidden="true">
    {% include 'modal/confirmDelete.html'%}
  </div> 
{% endblock modals %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
      <script>
        {% if messages %}
              {% for message in messages %}
                message = {{message|safe}}
                core.showNotification(message.message, color=message.type)
              {% endfor %}
          {% endif %}
      </script>
{% endblock javascripts %}
