

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <!--<a target="_blank" rel="sponsored noopener noreferrer" 
             href="https://appseed.us/admin-dashboards/django-dashboard-black" class="simple-text logo-mini">
            PI
          </a>-->
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Administrator 
          </a>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}
          <li class="">
            <a href="">
              <i class="bi bi-house"></i>
              <p>Principal</p>
            </a>
          </li>

          <li class="">
            <a href="">
              <i class="tim-icons icon-align-center"></i>
              <p>Productos</p>
            </a>
          </li>

          <li class="">
            <a href="">
              <i class="tim-icons icon-gift-2"></i>
              <p>Codigos Digitales</p>
            </a>
          </li>
          <!--<li class="">
            <a href="">
              <i class="tim-icons icon-delivery-fast"></i>
              <p>No Disponible</p>
            </a>
          </li>-->

          <li class="">
            <a href="">
              <i class="tim-icons icon-bullet-list-67"></i>
              <p>Categorias</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="bi bi-rulers"></i>
              <p>Unidades de medida</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="bi bi-box-seam"></i>
              <p>Stock</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="tim-icons icon-single-02"></i>
              <p>Usuarios</p>
            </a>
          </li>
          <li class="">
            <a href="">
              <i class="tim-icons icon-paper"></i>
              <p>Ordenes</p>
            </a>
          </li>
          {% else %}
          <li class="">
            <a href="">
              <i class="tim-icons icon-single-02"></i>
              <p>Login</p>
            </a>
          </li> 
          {% endif %}  
          <li class="">
            <a href="">
              <i class="tim-icons icon-send"></i>
              <p>Contactenos</p>
            </a>
          </li>            
      </div>
    </div>
